# This job runs the project tests

name: Build and test

# Trigger the workflow on push or pull request to master or develop

on:
  pull_request:
    branches: [ master ]

jobs:
  
  run-black-formatter:
    strategy:
      max-parallel: 1
    runs-on: ubuntu-latest
    timeout-minutes: 30
    
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - uses: "actions/setup-python@v2"
        with:
          python-version: "3.7"
          
      - name: Install dependancies
        run: |
          pip install black==19.10b0
          
      - name: Run formatter check
        env: 
          GH_BRANCH: ${{ github.head_ref }}
        run: |
          echo "Running format check on branch $GH_BRANCH"
          git config --global user.email "engineering@finbourne.com" 
          git config --global user.name "finbourne-bot-public" 
          bash ci_tools/new_commit_with_black.sh
  
  run-lpt-tests:
    strategy: 
      max-parallel: 1
    runs-on: ubuntu-latest
    timeout-minutes: 30

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: "actions/setup-python@v2"
        with:
          python-version: "3.7"
          
      - name: Install dependancies
        run: |
          apt-get update && apt-get -y install jq
          pip install --no-cache-dir -r requirements.txt
          pip --no-cache-dir install --upgrade awscli

      - name: Run tests on MASTER branch
        if: ${{ github.base_ref == 'master' }}
        env: 
          FBN_TOKEN_URL: ${{ secrets.MASTER_FBN_TOKEN_URL }}
          FBN_USERNAME: ${{ secrets.MASTER_FBN_USERNAME }}
          FBN_PASSWORD: ${{ secrets.MASTER_FBN_PASSWORD }}
          FBN_CLIENT_ID: ${{ secrets.MASTER_FBN_CLIENT_ID }}
          FBN_CLIENT_SECRET: ${{ secrets.MASTER_FBN_CLIENT_SECRET }}
          FBN_LUSID_API_URL: ${{ secrets.MASTER_FBN_LUSID_API_URL }}
          FBN_APP_NAME: ${{ secrets.MASTER_FBN_CLIENT_ID }}
        run: | 
          python -m unittest discover -v
          
      - name: Slack notification
        uses: 8398a7/action-slack@v3
        with:
          status: custom
          fields: workflow,job,commit,repo,ref,author,took
          custom_payload: |
            {
            username: 'github-actions',
            icon_emoji: ':octocat:',
            attachments: [{
              color: '${{ job.status }}' === 'success' ? 'good' : '${{ job.status }}' === 'failure' ? 'danger' : 'warning',
              text: `Job ${process.env.AS_WORKFLOW}(Commit ${process.env.AS_COMMIT} into ${process.env.GITHUB_BASE_REF} from ${process.env.GITHUB_HEAD_REF}) of ${process.env.AS_REPO} by ${process.env.GITHUB_ACTOR} failed in ${process.env.AS_TOOK}`
            }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
        if: failure()
